/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
}

/* hero section */

#ham{ 
    display: none;
}  

#close{
  display: none;
}

.heroSection {
    max-width: 100%;
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    height: 100%;
    justify-content: space-around;
    background-image: url("images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}



.navbar ul{ 
    list-style-type: none;
}

.navbar li  a{ 
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.logo{
    padding: 1.5rem 0 1.5rem 1.5rem;
}

@media (min-width:1001px){
    .header_for_desktop{ 
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        
    }

    .nav_items{ 
        display: flex;
        padding: 2rem 0;
    }
    .nav_item{ 
        margin-right: 2.5rem;
    }
}



.slogan {
    border: 5px solid white;
    position: absolute;
    padding: 4rem;
    font-size: 4rem;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -34%);
}

.slogan p {
    text-transform: uppercase;
}

/* About Section */

.about {
   display: grid;
   grid-template-columns: auto auto;
   margin: 10rem 0;
}

#img_interactive {
    object-fit: cover;
    padding: 3rem 1rem 1rem 1rem;
}

.about_wrapper{ 
    align-self: end;
}

.about_header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}

.about_detail {
    font-family: 'Alata', sans-serif;
   
}

/* our creations section */

/* .creations {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
} */


.creations { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "header btn"
                          "images images";
    justify-items: center;
    margin: 3rem 0 0 0;
}

.creation_header {
    order: -2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: 3rem;
    margin-bottom: 3rem;
    grid-area: header;
    align-self: center;
}

.creation_img {
    display: grid;
    grid-template-columns: 256px 256px 256px 256px;
    grid-template-rows: 450px 450px;
    justify-content: center;
    grid-area: images;
}

.creation_ex {
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align:center;
    padding-top: 22rem;
    margin: 1rem 1rem;

}

.e1 {
    background-image: url("images/desktop/image-deep-earth.jpg");
}

.e2 {
    background-image: url("images/desktop/image-night-arcade.jpg");
}

.e3 {
    background-image: url("images/desktop/image-soccer-team.jpg");
}

.e4 {
    background-image: url("images/desktop/image-grid.jpg");
}

.e5 {
    background-image: url("images/desktop/image-from-above.jpg");
}

.e6 {
    background-image: url("images/desktop/image-pocket-borealis.jpg");
}

.e7 {
    background-image: url("images/desktop/image-curiosity.jpg");
}

.e8 {
    background-image: url("images/desktop/image-fisheye.jpg");
}

.creation_seeAll {
    order: -1;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    padding: 0.5rem 3rem;
    margin: 0  0 3rem 1rem;
    grid-area: btn;
}

/* the footer section */

.footer {
    background-color: hsl(0, 0%, 0%);
    color: white;
    font-family: 'Alata', sans-serif;
    text-align: center;
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
    padding-top: 1rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.footer .links {
    order: 2;
    display: flex;
}

.links * {
    padding: 0 0.5rem;
}

.social_logos * {
    padding: 0 0.5rem;
}

.social_logos {
    display: flex;
}

.copyrights {
    order: 4;
    color: hsl(0, 0%, 55%);
}





/* MOBILE DESIGN */

@media (min-width:360px) and (max-width:1000px) {
   
    .heroSection {
        background-image: url("images/mobile/image-hero.jpg");
        background-size: cover;
    }
     
    
    
.header_for_mobile{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navbar{ 
    display: none;
}

#ham,#close{
    object-fit: contain;
    cursor: pointer;
    padding: 1.5rem 1rem;
}

.logo{
    padding: 1rem 0 1.5rem 1.5rem;
}

.nav_items{
    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding-left: 1rem;
    height:665px;
    
}

.nav_item{ 
    text-transform: uppercase;
}



    .slogan {
        border: 5px solid white;
        position: absolute;
        padding: 1rem 0.5rem;
        font-size: 2.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
   
    /* about section */
    .about {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 0.5rem;
    }
    #img_interactive {
        max-width: 100%;
        object-fit: contain;
        padding: 3rem 1rem 1rem 1rem;
    }
    .about_header {
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .about_detail {
        margin: 0.5rem;
        font-family: 'Alata', sans-serif;
        text-align: center;
    }
    /* our creations section */
    .creations {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .creation_img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        margin: 2rem 0;
    }
    .creation_header {
        all:unset;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        margin: 0 auto;
    }
    .creation_ex {
        color: hsl(0, 0%, 100%);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 2rem;
        margin: 1rem 2rem;
    }
    .e1 {
        background-image: url("images/mobile/image-deep-earth.jpg");
        background-position: center;
    }
    .e2 {
        background-image: url("images/mobile/image-night-arcade.jpg");
        background-position: center;
        /* background-size: cover; */
    }
    .e3 {
        background-image: url("images/mobile/image-soccer-team.jpg");
        background-position: center;
        background-size: cover;
    }
    .e4 {
        background-image: url("images/mobile/image-grid.jpg");
        background-position: center;
    }
    .e5 {
        background-image: url("images/mobile/image-from-above.jpg");
        background-position: center;
    }
    .e6 {
        background-image: url("images/mobile/image-pocket-borealis.jpg");
        background-position: center;
    }
    .e7 {
        background-image: url("images/mobile/image-curiosity.jpg");
        background-position: center;
        background-size: cover;
    }
    .e8 {
        background-image: url("images/mobile/image-fisheye.jpg");
        background-position: center;
    }
    .creation_seeAll {
        font-size: 1.5rem;
       
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        order: 5;
    }
    /* footer section */
    .footer {
        background-color: hsl(0, 0%, 0%);
        color: white;
        font-family: 'Alata', sans-serif;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .footer * {
        padding: 0.5rem;
    }
    .social_logos {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 1rem;
    }
}